<div class='well'>
  <div class="alert alert-primary" role="alert">
      Place your message on the Message Board here!
    </div>
    <div class="panel-body">
        <div class='form-group'>
            <label>What's the subject of your message?</label>
            <input type="text" class='form-control' id='subject' [(ngModel)]='subject' >          
        </div>
        <div class='form-group'>
          <label>Whats the message?</label>
          <textarea class="form-control" rows="3" [(ngModel)]='message'></textarea>
        </div>
        <div class='form-group'>
            <button class="btn btn-primary" (click)='placeMessageOnMessageBoard()'>Place Message on the Board</button>
        </div>
    </div>
    <ngx-loading [show]='loading' [config]="{ backgroundBorderRadius: '14px' }"></ngx-loading>
</div>