<div class='well'>
    <div class="alert alert-primary" role="alert">
        Send your message here!
      </div>
  <div class="panel-body">
      <div class='form-group'>
          <label>Who's the message to?</label>
          <input type="text" class='form-control' id='messageto'>          
      </div>
      <div class='form-group'>
        <label>Whats the message?</label>
        <textarea class="form-control" rows="3"></textarea>
      </div>
      <div class='form-group'>
          <button class="btn btn-primary">Send Message</button>
      </div>
  </div>
</div>
